{
  "plugins": [
    "syntax-trailing-function-commas",
    "syntax-class-properties",
    "syntax-object-rest-spread",
    "syntax-flow",
    "syntax-jsx",
    ["transform-define", {
      "__DEV__": false,
    }],
    "minify-dead-code-elimination"
  ]
}
